---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import LayoutWidth from '@/layouts/LayoutWidth.astro';
import DateText from '@/components/Text/DateText';
import PostLayout from '@/layouts/PostLayout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();

const { title, description, publishedDate, updatedDate, headingImage, tag } = post.data;
---
<PostLayout title={title}, description={description}, headingImage={headingImage}, tag={tag}>
	<div class="text-end" slot="date_slot">
		<DateText publishedDate={publishedDate} updatedDate={updatedDate} />
	</div>
	<Content />
</PostLayout>